[user]
	name = Reid Baker
	email = hamiltonbaker@yahoo.com
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 593
	main-window-view = HistoryView
	file-view-vpane-position = 760
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
        editor = emacs
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
